<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd    
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
>


	<bean id="goods" class="com.java.core.canal.entity.Goods" ></bean>
	<bean id="defaultDeleteEntityListener" class="com.java.core.canal.common.DefaultDeleteEntityListener" ></bean>
	<bean id="defaultInsertEntityListener" class="com.java.core.canal.common.DefaultInsertEntityListener" ></bean>
	<bean id="defaultEntityAdapter" class="com.java.core.canal.adapter.DefaultEntityAdapter" ></bean>
	<bean id="canalConnectorClient" class="com.java.core.canal.client.CanalConnectorClient" >
		<property name="host" value="127.0.0.1" ></property>
		<property name="port" value="11111" ></property>
		<property name="destination" value="example" ></property>
		<property name="username" value="" ></property>
		<property name="password" value="" ></property>
		<property name="entityAdapter" ref="defaultEntityAdapter" ></property>
	</bean>



</beans>
	