<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd    
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd    
            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd  
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
>

    <!-- 两个thrift 服务的实现类 -->
    <bean id="thriftInfoTestServiceTarget" class="com.java.core.rpc.thrift.service.impl.ThriftInfoTestServiceImpl" ></bean>
    <bean id="thriftTestServiceTarget" class="com.java.core.rpc.thrift.service.impl.ThriftTestServiceImpl" ></bean>
    
    
    
    <!-- Processor调用过程工厂，创建多服务类的工厂类 实现 FactoryBean 将bean类型设置成TProcessor  -->
    <bean id="thriftProcessorFactory"  class="com.java.core.rpc.thrift.supports.ThriftProcessorFactory" 
        init-method="convertTargetToTProcessor"
        >
        <property name="targets" >
            <list >
                <ref bean="thriftInfoTestServiceTarget"/>
                <ref bean="thriftTestServiceTarget"/>
            </list>
        </property>
        
    </bean>
    
    
    
    
    <!-- serverTransport -->
    <bean class="org.apache.thrift.transport.TNonblockingServerSocket" id="transport" >
        <!-- 端口号 -->
	       <constructor-arg index="0" value="29999" />
    </bean>
    
    
    
    <bean class="org.apache.thrift.transport.TFramedTransport.Factory" id ="transportFactory"></bean>
    <bean class="org.apache.thrift.protocol.TCompactProtocol.Factory" id ="protocolFactory"></bean>
    
    <!-- serverArgs  实现 FactoryBean 用与spring参数设置，因为 workerThreads 等参数源码中没有set/get 方法-->
    <bean class="com.java.core.rpc.thrift.provider.TServerArgsFactory" id="serverArgs" >
        <!-- 端口号 -->
        <property name="transport" ref="transport"  />
        <property name="selectorThreads" value="30"  />
        <property name="workerThreads" value="100"  />
        <property name="transportFactory" ref="transportFactory"  />
        <property name="protocolFactory"  ref="protocolFactory" />
        
        <!-- 调用过程 -->
        <property name="processor"  ref="thriftProcessorFactory" />
    </bean>
    
    <!-- server -->
    <bean class="org.apache.thrift.server.TThreadedSelectorServer" id="threadedSelectorServer" >
        <!-- 端口号 -->
	       <constructor-arg index="0" ref="serverArgs" />
    </bean>
    
    
    <!--  thrift 的provider的启动类 -->
    <bean class="com.java.core.rpc.thrift.provider.AppThriftServer" init-method="initThriftServer"  >
        <property name="transport" ref="transport"  />
        <property name="args" ref="serverArgs"  />
        <property name="server"  ref="threadedSelectorServer" />
    </bean>
    
    
</beans>
	