<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans          
    http://www.springframework.org/schema/beans/spring-beans.xsd          
    http://code.alibabatech.com/schema/dubbo          
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd">



     <!-- 消费方应用名，用于计算依赖关系，不是匹配条件，不要与提供方一样 -->  
    <dubbo:application name="hjy_producer" />
  
    <!-- 使用zookeeper注册中心暴露服务地址 -->  
    <!-- <dubbo:registry address="multicast://224.5.6.7:1234" /> -->  
    <dubbo:registry id="register" address="zookeeper://127.0.0.1:2181" />


    <dubbo:registry id="redisRegister" address="customerRedis://127.0.0.1:6379?password=redis"  />

    <bean  class="com.java.core.rpc.dubbo.service.impl.DubboTestServiceImpl" id="dubboTestService" ></bean>
    <!-- 要暴露的服务接口 -->
    <dubbo:service  registry="redisRegister" filter="dragsunDubboFilter"  protocol="dubbo" interface="com.java.core.rpc.dubbo.service.IDubboTestService" ref="dubboTestService" />



    <bean  class="com.java.core.rpc.dubbo.service.impl.DubboInfoTestServiceImpl" id="dubboInfoTestService" ></bean>

    <!-- 要暴露的服务接口 -->
    <dubbo:service   registry="redisRegister" filter="dragsunDubboFilter" protocol="dubbo"  interface="com.java.core.rpc.dubbo.service.IDubboInfoTestService" ref="dubboInfoTestService" />


    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol   name="dubbo" port="20881" />
    <dubbo:protocol   name="thrift" port="30881" />

    <!-- thrift -->

    <bean  class="com.java.core.rpc.thrift.service.impl.ThriftInfoTestServiceImpl" id="thriftInfoTestService" ></bean>

    <!-- 生成远程服务代理，可以像使用本地bean一样使用demoService -->
    <dubbo:service timeout="12000"  registry="register" protocol="thrift"
                    interface="com.java.core.rpc.thrift.service.IThriftInfoTestService$Iface" ref="thriftInfoTestService" />







</beans>